# App
APP_NAME=ecommerce
APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Database
POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# App Database Config
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=postgres

# App Redis Config
REDIS_HOST=redis
REDIS_PASSWORD=

# App RabbitMQ Config
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# JVM
JAVA_OPTS=-Xms256m -Xmx512m

# Image
APP_IMAGE_NAME=ecommerce-app
APP_IMAGE_TAG=latest
